body {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.btn {
	width: 80px;
	height: 40px;
	text-transform: uppercase;
	font-weight: 600;
	background-color: tomato;
	border: 1px solid tomato;
	border-radius: 5px;
}

.create-control {
	padding: 0 30%;
	text-align: center;
}

.create-control label {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
input {
	margin: 10px 0;
	line-height: 2em;
	padding-left: 5px;
	outline: none;
	border: 2px solid tomato;
	border-radius: 5px;
}

.created-elements-section {
	margin-top: 50px;
}

/* .created-elements-section div {
	background-color: #f7f5f5;
	border: 1px solid gray;
	width: 100px;
	height: 100px;
}

.created-elements-section p {
	background-color: #f7f5f5;
	border: 1px solid gray;
	width: 100px;
	height: 10px;
} */

